*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}


.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paintin-canvas{
  border: 1px solid red;
  cursor: pointer;
}

