*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}


.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-container{
  width: 100%;
  height: 100%;
}

.paintin-canvas{
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  height: 3.5rem;
  gap: 1rem;
  aspect-ratio:initial;
  background-color:antiquewhite ;
  z-index: 2;
}

.navbar-button{
  cursor: pointer;
  //background-color: lime;
}

.navbar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: blue;
  padding: 0.2rem;
}

.type-brush, .shape-brush{
  font-weight: bold;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgb(234, 219, 200);

  &:hover{
    background-color: rgb(234, 219, 200);;
  }
}

.brush-sizes{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid rgb(234, 219, 200);
}

.brush-size-number-input{
  width: 2rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(234, 219, 200);
  border-radius: 8px;
  text-align: center;

  &:hover{
    outline: none;
  }
}

.brush-size-range-input{
  width: 5rem !important;
  &:hover{
    z-index: 20;
  }
}

.pen-cursor{
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  
}

.color-picker-widget{
  left: 50%;
  top: 5rem
}

.open-close-container{
  background-color: antiquewhite;
  padding: 0.3rem;
  width: 100%;
  min-width: 17.25rem;
  display: flex;
  text-align: right;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  gap: 2rem;
  cursor: move;
  z-index: 3;
}
.open-close-button{
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.hidden{
  display: none;
}

ul{
  list-style: none;
  gap: 0.5rem;
}